
thead {
    background-color: #cfd1d1;
}

.material-table {
    /*height: 600px;
    overflow: auto;*/
}

.table th, .table td {
    padding: 5.75px 8px !important;
}

.td-header {
    width: 105px !important;
}

#FarmerName,
#SellerName,
#TotalAfterDiscount,
.lablel-lg {
    font-size: 20px;
}

.ss_ul {
    position: fixed !important;
    margin-right: -40px !important;
}


    .ss_ul li {
        text-align: right !important;
    }


.icon-printer4:hover {
    font-size: 20px;
    cursor: pointer;
}

.icon-search-plus {
    color: green !important;
}

    .icon-search-plus:hover {
        font-size: 20px;
        cursor: pointer;
    }

.icon-trash {
    color: red;
    cursor: pointer;
    font-size: 20px;
}

    .icon-trash:hover {
        font-size: 25px;
    }

.icon-plus-circle {
    color: green;
    cursor: pointer;
    font-size: 20px;
}

    .icon-plus-circle:hover {
        font-size: 25px;
    }


.author {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.table-report {
    width: 100%;
    text-align: center;
}


.is-printed {
    background-color: #e2e214 !important;
}

.img-logo{
    width:250px ;
}

.title-logo {
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin: 18px;
}

