@{
    ViewData["Title"] = "المعاملات اليومية";
}

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- stats -->


            <div class="row">
                <input type="hidden" id="Id" value="@ViewBag.Id" />

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="DateFrom">التاريخ من </label>
                        <input type="date" id="DateFrom" class="form-control" style="height: 37px;">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="DateTo">التاريخ إلى </label>
                        <input type="date" id="DateTo" class="form-control" style="height: 37px;">
                    </div>
                </div>
                <br />
                <div class="col-md-1">
                    <button type="button" style="margin:10px;" class="btn btn-primary" onclick="search();"> بحـــث </button>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="pink" id="TotalPurchase">0</h3>
                                        <span>اجمالي فواتير المشتريات</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-list-alt pink font-large-2 float-xs-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="teal" id="TotalCommission">0</h3>
                                        <span>اجمالي العمولة</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-dollar teal font-large-2 float-xs-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="deep-orange" id="TotalDescent">0</h3>
                                        <span>اجمالي النزول </span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-road2 deep-orange font-large-2 float-xs-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="cyan" id="TotalGift">0</h3>
                                        <span> اجمالي الوهبة</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-shopping-basket cyan font-large-2 float-xs-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="pink" id="TotalClientsAccountStatement">0</h3>
                                        <span>اجمالي حسابات العملاء  </span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-group pink font-large-2 float-xs-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="pink" id="TotalSalesinvoice">0</h3>
                                        <span>اجمالي كشوفات البيع </span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-truck2 pink font-large-2 float-xs-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="teal" id="TotalQuantity">0</h3>
                                        <span>اجمالي العدد اليومي</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-sort-numeric-asc2 teal font-large-2 float-xs-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="pink" id="TotalPurchaseWeight">0</h3>
                                        <span>اجمالي الوزن   </span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-balance-scale pink font-large-2 float-xs-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-xl-3 col-lg-6 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block">
                                <div class="media">
                                    <div class="media-body text-xs-left">
                                        <h3 class="teal" id="TotalSellersAccountStatement"></h3>
                                        <span>اجمالي  حسابات التجار</span>
                                    </div>
                                    <div class="media-right media-middle">
                                        <i class="icon-user1 teal font-large-2 float-xs-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/js/transaction.js"></script>
<script src="/js/shared.js"></script>
