@{
    ViewBag.Title = "كشف حساب عميل";
}
<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-xs-12 mb-1">
                <h5>كشف حساب العميل:  <span id="farmerName"></span></h5>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-xs-12">
                <div id="myTable" class="breadcrumb-wrapper col-xs-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">الرئيسية</a>
                        </li>
                        <li class="breadcrumb-item active">
                            كشف حساب عميل
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <input type="hidden" id="farmerId" value="@ViewBag.farmerId" />
        <div class="content-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="DateFrom">التاريخ من </label>
                        <input type="date" id="DateFrom" class="form-control" style="height: 37px;">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="DateTo">التاريخ إلى </label>
                        <input type="date" id="DateTo" class="form-control" style="height: 37px;">
                    </div>
                </div>
                <br />
                <div class="col-md-1">
                    <button type="button" style="margin:10px;" class="btn btn-primary" onclick="search();"> بحـــث </button>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <table id="total-table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>اجمالي المدفوعات</th>
                                    <th>اجمالي الواردات</th>
                                    <th><span id="balance-description"></span></th>

                                    @*<th>بيان</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span id="outcomingTotal"></span></td>
                                    <td><span id="incomingTotal"></span></td>
                                    <td><span id="balance"></span></td>
                                    @*<td></td>*@
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="admin" class="col s12">
                    <div class="card material-table">
                        <div class="table-header">
                            <div class="actions">
                                <input type="text" class="form-control" id="search" name="search" onkeyup='filter();' placeholder="بحث" />
                            </div>
                        </div>
                        <table id="farmer-account-statement-header-table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>م </th>
                                    <th>التاريخ</th>
                                    <th>المدفوعات</th>
                                    <th>الواردات</th>
                                    <th>تفاصيل</th>
                                </tr>
                            </thead>
                            <tbody class="tbody"></tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-4">
                                <button onclick="next()">التالي</button>
                                <input id="pageNumber" value="1" onchange="getToPageNumber()" />
                                <button onclick="back()">السابق</button>
                            </div>
                            <div class="col-lg-4">
                                <span>عدد السجلات</span>:
                                <span id="recordsTotal"></span>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary" onclick="prepareReport();">طباعة</button>

                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/js/farmer-account-statement-index.js"></script>
<script src="/js/shared.js"></script>
<script src='/report/js/example.js'></script>