@{
    ViewData["Title"] = "العملاء";
}

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-xs-12 mb-1">
                <h5>العملاء</h5>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-xs-12">
                <div id="myTable" class="breadcrumb-wrapper col-xs-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">الرئيسية</a>
                        </li>
                        <li class="breadcrumb-item active">
                            العملاء
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div id="admin" class="col s12">
                    <div class="card material-table">
                        <button type="button" style="margin:10px;" class="btn btn-primary" data-toggle="modal" data-target="#formModal" onclick="clearData();"> عميل جديد</button>
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="form-control col-lg-6" id="search" name="search" placeholder="ادخل كلمة البحث" />
                            </div>
                            <div class="col-lg-3">
                                <input type="button" class="btn btn-info" onclick="filter();" value="بحث" />
                            </div>
                        </div>
                        <table id="farmers-table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>'
                                    <th>م </th>
                                    <th>اسم العميل</th>
                                    <th>الرصيد </th>
                                    <th> العنوان</th>
                                    <th>رقم الموبايل</th>
                                    <th>ملاحظات</th>
                                    @*<th>الرصيد(اجمالي الفواتير)</th>*@
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="tbody"></tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-4">
                                <button onclick="next()">التالي</button>
                                <input id="pageNumber" value="1" onchange="getToPageNumber()" />
                                <button onclick="back()">السابق</button>
                            </div>
                            @*<div class="col-lg-4">
                            <span>يعرض</span>
                            <span>من</span>
                            <span id="pageFrom">1</span>
                            <span>الى</span>
                            <span id="pageTo">20</span>
                            <span>سجل</span>
                            </div>*@
                            <div class="col-lg-4">
                                <span>عدد السجلات</span>:
                                <span id="recordsTotal">40</span>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="formModalLabel">اضافة/تعديل عميل</h4>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="Id" placeholder="Id" />
                    </div>
                    <div class="form-group">
                        <label for="Name">اسم العميل <i style="color:red">*</i></label>
                        <input type="text" class="form-control validate" required id="Name" placeholder="اسم العميل" />
                        <p style="color:red" id="NameIsRequired">ادخل اسم العميل</p>
                    </div>
                    <div class="form-group">
                        <label for="Address">العنوان </label>
                        <input type="text" class="form-control" id="Address" placeholder="عنوان العميل" />
                    </div>
                    <div class="form-group">
                        <label for="Phone">رقم الموبايل</label>
                        <input type="text" class="form-control" id="Phone" placeholder="رقم موبايل العميل" />
                    </div>
                    <div class="form-group" id="Balance_div">
                    <label for="OppeningBalance">الرصيد الافتتاحي </label>
                    <input type="number" class="form-control" id="Balance" placeholder="رصيد العميل الافتتاحي" />
                    </div>
                    <div class="form-group">
                        <label for="Notes">ملاحظات</label>
                        <input type="text" class="form-control" id="Notes" placeholder="ملاحظات" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" id="btnAdd" onclick="add();" value="حفظ" />
                <input type="submit" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="update();" value="تعديل" />
                <button type="button" class="btn btn-default" data-dismiss="modal">الغاء</button>
            </div>
        </div>
    </div>
</div>

<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/js/farmers.js"></script>
<script src="/js/shared.js"></script>
