@{
    ViewBag.Title = "كشوفات البيع";
}
<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-xs-12 mb-1">
                <h5>كشوفات البيع</h5>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-xs-12">
                <div id="myTable" class="breadcrumb-wrapper col-xs-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">الرئيسية</a>
                        </li>
                        <li class="breadcrumb-item active">
                            كشوفات البيع
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <input type="hidden" id="today" value="@ViewBag.today" />
            <div class="row">
                <div id="admin" class="col s12">
                    <div class="card material-table">
                        <div class="table-header">
                            @*<div class="actions">
                                    <input type="text" class="form-control" id="search" name="search" onkeyup='filter();' placeholder="بحث" />
                                </div>*@

                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" class="form-control col-lg-6" id="search" name="search" placeholder="ادخل كلمة البحث" />
                                </div>
                                <div class="col-lg-3">
                                    <input type="button" class="btn btn-info" onclick="filter();" value="بحث" />
                                </div>
                            </div>

                        </div>
                        <table id="salesinvoice-header-table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>م </th>
                                    <th>رقم الكشف</th>
                                    <th> تاريخ الكشف</th>
                                    <th>اسم التاجر</th>
                                    <th>العدد</th>
                                    <th>قيمة الكشف</th>
                                    <th>ملاحظات</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="tbody"></tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-4">
                                <button onclick="next()">التالي</button>
                                <input id="pageNumber" value="1" onchange="getToPageNumber()" />
                                <button onclick="back()">السابق</button>
                            </div>
                            <div class="col-lg-4">
                                <span>عدد السجلات</span>:
                                <span id="recordsTotal">40</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="height:800px;overflow:auto">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="listModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div id="Report">
                    <div class="row" id="report-header">
                        <div class="col-lg-12">
                            <table style="width:100%;border:none;">
                                <tr>
                                    <td style="width:100%;border:none;" align="center">
                                        <img id="salesinvoice-header" style="width:100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:none;">
                                        التاريخ/ <span id="Date"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border:none;">
                                        المطلوب من السيد/ <span id="SellerName"></span>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <div class="row" id="report-content">
                        <div class="col-lg-12">
                            <table id="salesinvoice-details-table" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>العدد</th>
                                        <th> الكيلو</th>
                                        <th>السعر</th>
                                        <th>بياعة</th>
                                        <th>مشال</th>
                                        <th>اسم العميل  </th>
                                        <th>الجملة  </th>
                                    </tr>
                                </thead>
                                <tbody class="salesinvoice-details"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="printReport();">تعديل وطباعة</button>
                <button type="button" class="btn btn-info" onclick="update();">تعديل</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">الغاء</button>
            </div>
        </div>
    </div>
</div>


<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/js/salesinvoices-index.js"></script>
<script src="/js/shared.js"></script>