@using Microsoft.AspNetCore.Http

@{
    ViewBag.Title = "قواتير المشتريات";
}

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-xs-12 mb-1">
                <h5>فواتير المشتريات</h5>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-xs-12">
                <div id="myTable" class="breadcrumb-wrapper col-xs-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">الرئيسية</a>
                        </li>
                        <li class="breadcrumb-item active">
                            فواتير المشتريات
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <input type="hidden" id="today" value="@ViewBag.today" />
        <div class="content-body">
            <div class="row">
                <div id="admin" class="col s12">
                    <div class="card material-table">
                        <div class="table-header">
                            @*<div class="actions">
                                    <input type="text" class="form-control" id="search" name="search" onkeyup='filter();' placeholder="بحث" />
                                </div>*@
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" class="form-control col-lg-6" id="search" name="search" placeholder="ادخل كلمة البحث" />
                                </div>
                                <div class="col-lg-3">
                                    <input type="button" class="btn btn-info" onclick="filter();" value="بحث" />
                                </div>
                            </div>
                        </div>
                        <table id="purechase-header-table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>م </th>
                                    <th>رقم الفاتورة</th>
                                    <th> تاريخ الفاتورة</th>
                                    <th>اسم العميل</th>
                                    <th>ملاحظات</th>
                                    <th>حالة الطباعة</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="tbody"></tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-4">
                                <button onclick="next()">التالي</button>
                                <input id="pageNumber" value="1" onchange="getToPageNumber()" />
                                <button onclick="back()">السابق</button>
                            </div>
                            <div class="col-lg-4">
                                <span>عدد السجلات</span>:
                                <span id="recordsTotal">40</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="listModalLabel">فاتورة</h4>
            </div>
            <div class="modal-body">
                <div id="Report">
                    <div class="row" id="report-header">
                        <div class="col-lg-12">
                            <table style="width:100%;border:none;">
                                <tr>
                                    <td style="width:100%;border:none;">
                                        @*<img id="purchase-header" src="first.jpg" style="width:100%;" />*@
                                        <img src="~/images/El_Senosy/purchase-header.jpg" style="width:100%;">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-12">
                            <table style="width:100%;border:none;">
                                <tr>
                                    <td style="width:40%;border:none;">
                                        التاريخ: <span id="Date"></span>
                                    </td>
                                    <td style="width:60%;border:none;">
                                        رقم الفاتورة: <span id="Number"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:100%;border:none;" colspan="2">
                                        اسم العميل: <span id="FarmerName"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row" id="report-content">
                        <div class="col-lg-12">
                            <table id="purechase-details-table" class="table table-bordered table-hover" style="margin: 50px 0px;">
                                <thead>
                                    <tr>
                                        <th>العدد</th>
                                        <th> الوزن</th>
                                        <th>السعر</th>
                                        <th>الاجمالي  </th>
                                    </tr>
                                </thead>
                                <tbody class="purechase-details"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" id="report-footer">
                        <div class="col-lg-12">
                            <table style="width:100%;">
                                <tr>
                                    <td style="width:60%;">
                                        <table border="1">
                                            <tr>
                                                <td>اجمالي العدد</td>
                                                <td> <span id="TotalQuantity"></span></td>
                                            </tr>
                                            <tr>
                                                <td> اجمالي الوزن</td>
                                                <td><span id="TotalWeight"></span></td>
                                            </tr>
                                            <tr>
                                                <td>الاجمالي</td>
                                                <td> <span id="Total"></span></td>
                                            </tr>
                                            <tr>
                                                <td> اجمالي الخصومات</td>
                                                <td><span id="TotalDiscounts"></span></td>
                                            </tr>
                                            <tr>
                                                <td>صافي الفاتورة</td>
                                                <td> <span id="TotalAfterDiscount"></span></td>
                                            </tr>
                                        </table>
                                    </td>

                                    <td style="width:40%;">
                                        <table border="1">
                                            <tr>
                                                <td> نسبة العمولة</td>
                                                <td> <input type="number" value="9" onchange="updateTotal()" id="CommissionPercentage" /></td>
                                            </tr>
                                            <tr>
                                                <td>العمولة</td>
                                                <td> <input type="number" id="Commission" readonly="readonly" /></td>
                                            </tr>
                                            <tr>
                                                <td> النزول</td>
                                                <td> <input type="number" id="Descent" onchange="updateTotal()" /></td>
                                            </tr>
                                            <tr>
                                                <td>الوهبة </td>
                                                <td> <input type="number" id="Gift" onchange="updateTotal()" /></td>
                                            </tr>
                                            <tr>
                                                <td>النولون</td>
                                                <td> <input type="number" value="0" onchange="updateTotal()" id="Nawlon" /></td>
                                            </tr>
                                            <tr>
                                                <td>مصــروف</td>
                                                <td> <input type="number" value="0" onchange="updateTotal()" id="Expense" /></td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="printReport();">تعديل وطباعة</button>
                <button type="button" class="btn btn-info" onclick="update();">تعديل</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">الغاء</button>
            </div>
        </div>
    </div>
</div>
<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/js/purechases-index.js"></script>
<script src="/js/shared.js"></script>
<script src='/report/js/example.js'></script>