@{
    ViewData["Title"] = "العملاء والموردين";
}

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-xs-12 mb-1">
                <h5>العملاء والموردين</h5>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-xs-12">
                <div id="myTable" class="breadcrumb-wrapper col-xs-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">الرئيسية</a>
                        </li>
                        <li class="breadcrumb-item active">
                            العملاء والموردين
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="DateFrom">التاريخ من </label>
                        <input type="date" id="DateFrom" class="form-control" style="height: 37px;">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="DateTo">التاريخ إلى </label>
                        <input type="date" id="DateTo" class="form-control" style="height: 37px;">
                    </div>
                </div>
                <br />
                <div class="col-md-1">
                    <button type="button" style="margin:10px;" class="btn btn-primary" onclick="getAllClientsSellers();"> بحـــث </button>
                </div>
            </div>
            <div class="row">
                <div id="admin" class="col-lg-6">
                    <div class="card material-table">
                        @*<button type="button" style="margin:10px;" class="btn btn-primary" data-toggle="modal" data-target="#formModal" onclick="addSafe_Seller();"> سجل جديد</button>*@
                        @*<div class="row">
                        <div class="col-lg-6">
                        <input type="text" class="form-control col-lg-6" id="search" name="search" placeholder="ادخل كلمة البحث" />
                        </div>
                        <div class="col-lg-3">
                        <input type="button" class="btn btn-info" onclick="filter();" value="بحث" />
                        </div>
                        </div>*@

                        <div class="row">
                            <div class="col-lg-12">
                                <h4>الوارد من التجار</h4>
                            </div>
                        </div>

                        <table id="safes-table-seller"  class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>م </th>
                                    <th>المبلغ</th>
                                    <th width="300">الاسم</th>
                                    <th>التاريخ</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody class="tbody_sellersSafeList"></tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-6">
                                <i class="icon-plus-circle" onclick="addSellerSafeRow()">اضافة صف جديد</i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button type="button" style="margin:10px;" class="btn btn-info" id="btnSaveSellerSafeRange" onclick="saveSellerSafeRange();"> حفظ الكل </button>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-8">
                                <button onclick="next_Seller()">التالي</button>
                                <input id="pageNumber_Seller" value="1" onchange="getToPageNumber_Seller()" />
                                <button onclick="back_Seller()">السابق</button>
                            </div>

                            <div class="col-lg-4">
                                <span>عدد السجلات</span>:
                                <span id="recordsTotal_Seller"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="admin" class="col-lg-6">
                    <div class="card material-table">
                        @*<button type="button" style="margin:10px;" class="btn btn-primary" data-toggle="modal" data-target="#formModal" onclick="addSafe_Client();"> سجل جديد</button>*@
                        @*<div class="row">
                        <div class="col-lg-6">
                        <input type="text" class="form-control col-lg-6" id="search" name="search" placeholder="ادخل كلمة البحث" />
                        </div>
                        <div class="col-lg-3">
                        <input type="button" class="btn btn-info" onclick="filter();" value="بحث" />
                        </div>
                        </div>*@
                        <div class="row">
                            <div class="col-lg-12">
                                <h4> الصادر الى المزارعين</h4>
                            </div>
                        </div>

                        <table id="safes-table-client" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>م </th>
                                    <th>المبلغ</th>
                                    <th width="300">الاسم</th>
                                    <th>التاريخ</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="tbody_safe_clientsList"></tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-6">
                                <i class="icon-plus-circle" onclick="addClientSafeRow()">اضافة صف جديد</i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button type="button" style="margin:10px;" class="btn btn-info" id="btnSaveClientSafeRange" onclick="saveClientSafeRange();"> حفظ الكل </button>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-8">
                                <button onclick="next_Client()">التالي</button>
                                <input id="pageNumber_Client" value="1" onchange="getToPageNumber_Client()" />
                                <button onclick="back_Client()">السابق</button>
                            </div>

                            <div class="col-lg-4">
                                <span>عدد السجلات</span>:
                                <span id="recordsTotal_Client"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="formModalLabel">اضافة/تعديل سجل</h4>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="Id" placeholder="Id" />
                    </div>
                    <div class="form-group">
                        <label for="Date">التاريخ </label>
                        <input type="date" id="Date" class="form-control" style="height: 37px;">
                    </div>
                    <div class="form-group">
                        <label for="AccountTypeId">نوع الحساب<i style="color:red">*</i></label>
                        <select theme="google" data-search="true" id="AccountTypeId" name="AccountTypeId" class="form-control">
                            <option value="0">اختر نوع الحساب</option>
                            <option value="1">العملاء</option>
                            <option value="2">التجار</option>
                            <option value="3">سلف من الغير </option>
                            <option value="4">أخرى</option>
                        </select>
                    </div>
                    <div class="form-group ClientId">
                        <label for="ClientId">العملاء </label>
                        <select theme="google" placeholder="اختر اسم العميل " data-search="true" id="ClientId" name="ClientId" class="form-control"></select>
                    </div>
                    <div class="form-group SellerId">
                        <label for="SellerId">التجار </label>
                        <select theme="google" placeholder="اختر اسم التاجر " data-search="true" id="SellerId" name="SellerId" class="form-control"></select>
                    </div>
                    <div class="form-group OtherAccount">
                        <label for="OtherAccountName">أخرى </label>
                        <input type="text" class="form-control" id="OtherAccountName" placeholder="حسابات أخرى" />
                    </div>

                    <div class="form-group Borrow">
                        <label for="Borrow">سلف من الغير </label>
                        <input type="text" class="form-control" id="Borrow" placeholder="سلف من الغير" />
                    </div>


                    <div class="form-group Outcoming">
                        <label for="Outcoming">المبلغ </label>
                        <input type="number" class="form-control" id="Outcoming" placeholder="المبلغ الصادر الى المزارع" />
                    </div>
                    <div class="form-group Incoming">
                        <label for="Incoming">المبلغ</label>
                        <input type="number" class="form-control" id="Incoming" placeholder="المبلغ الوارد من التجار" />
                    </div>
                    <div class="form-group">
                        <label for="Notes">ملاحظات</label>
                        <input type="text" class="form-control" id="Notes" placeholder="ملاحظات" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" id="btnAdd" onclick="add();" value="حفظ" />
                <input type="submit" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="update();" value="تعديل" />
                <button type="button" class="btn btn-default" data-dismiss="modal">الغاء</button>
            </div>
        </div>
    </div>
</div>

<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/js/safes.js"></script>
<script src="/js/shared.js"></script>
